<?xml version="1.0" encoding="utf-8"?>
<Defs>
    <XmlExtensions.SettingsMenuDef>
        <defName>thePatchIsALie</defName>
        <modId>zenlor.thepatchisalie</modId>
        <label>The Patch is a Lie</label>
        <settings>
            <li Class="XmlExtensions.Setting.Section">

                <li Class="XmlExtensions.Setting.Section">
                    <settings>
                        <li Class="XmlExtensions.Setting.Text">
                            <text>Misc</text>
                        </li>

                        <li Class="XmlExtensions.Setting.Slider">
                            <key>doorSpeed</key>
                            <label>Door Closing speed</label>
                            <defaultValue>1.5</defaultValue>
                            <min>0.1</min>
                        </li>
                    </settings>
                </li>

                <li Class="XmlExtensions.Setting.GapLine" />
                <li Class="XmlExtensions.Setting.Section">
                    <settings>
                        <li Class="XmlExtensions.Setting.Text">
                            <text>Ideology</text>
                        </li>

                        <li Class="XmlExtensions.Setting.Checkbox">
                            <label>Conversion power</label>
                            <key>ideologyConversion</key>
                        </li>

                        <li Class="XmlExtensions.Settings.Checkbox">
                            <label>Conversion cooldown</label>
                            <key>ideologyConversionCooldown</key>
                        </li>

                        <li Class="XmlExtensions.Settings.Checkbox">
                            <label>Reassure power</label>
                            <key>ideologyReassure</key>
                        </li>
                    </settings>
                </li>

                <li Class="XmlExtensions.Setting.GapLine" />
                <li Class="XmlExtensions.Setting.Section">
                    <settings>
                        <li Class="XmlExtensions.Setting.Text">
                            <text>Pawn Expectations</text>
                        </li>

                        <li Class="XmlExtensions.Setting.Checkbox">
                            <label></label>
                            <key></key>
                        </li>

                        <li Class="XmlExtensions.Settings.Checkbox">
                            <label></label>
                        </li>
                    </settings>
                </li>

            </li>
        </settings>
    </XmlExtensions.SettingsMenuDef>
</Defs>
